div {
    background-color: red;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 32px;
}
li{
    background-color: blue;
}
button{
    font-size: 32px;
    background-color: orange;
}